<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="dao.Insertdao">
    <insert id="insert" parameterType="Film">
        Insert into film(title,description,language_id) values(#{film.title},${film.description},${film.languageId})
    </insert>

</mapper>    